<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MyMapper">
    <insert id="insertTest">
        INSERT INTO `school`.`tbl_teacher`
        (`phone`,
         `name`,
         `age`)
        VALUES ('111',
                '111',
                '11')
    </insert>
</mapper>
